/* quiz.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #ccc;
}

.quiz {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#question {
  margin-bottom: 30px;
  font-size: 24px;
  color: #555;
}

#option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

button.opt {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #3498db; /* Blue color */
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button.opt:hover {
  background-color: #2980b9; /* Darker shade of blue */
}

#nextButton {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  background-color: #e74c3c; /* Red color */
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#nextButton:hover {
  background-color: #c0392b; /* Darker shade of red */
}

.correct {
	background-color: #9aeabc;
}
.incorrect {
	background-color: #ff9393;
}

 
